@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); 

 body{
   top: 0;
   left: 0;
     /* background-color: aqua; */
     margin: 0;
     padding: 0;
 }

 .heading{
   display: block;
     /* display: flex;
     justify-content: center; horizontal */
     /* align-items: ;  */
     height: auto;
     width: 100%;
 }
 

 h1{
   text-align: center;
    font-size: 50px; 
    color: red;
   }
   
   .heading p{
     
     text-align: center;
        background-color: black;
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
      font-family:  'Ubuntu', sans-serif;
      color: white;
      margin: 30px;
      padding: 10px;
      height: auto;
      width: 450px;
    }

    section{
      width: 100%;
      height: 110vh;
      text-align: center;
      position: relative;
      margin: 0;
      /* top: 0; */
    }

     h1{
       position: sticky;
      color: aliceblue;
      transition: 1s;
      
    }
    h1:hover{
      color: aqua;
      font-size: 50px;
    }

    #Home{
      background-color: blueviolet;
      /* position: sticky; */
      top: 0;
      left: 0;
    }

    #about{
      background-color: aqua;
    }

    #product{
      background-color:  brown;
    }