@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); 

html{
  scroll-behavior: smooth;
}

 body{
     /* background-color: aqua; */
     margin: 0;
     padding: 0;
 }

 
section{
  width: 100%;
  height: 100vh;
  position: relative;
} 

h1{
  color: aliceblue;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* text-align: center; */
  position: absolute;
  top: 40%;
  left: 45%;
}

#home{
  background-color: blueviolet;
}

span{
  font-weight: bold;
  /* font-size: 50px; */
  color: red;
}


#about{
  background-color: brown;
}

#product{
  background-color: aqua; 
}

#contact{
  background-color: chartreuse; 
}

 .btn{
   height: 50px;
   width: 50px;
   background-color: red;
   text-align: center;
   position: fixed;
   bottom: 10%;
   right: 5%;
   border: 5px black;
 }   

 .header{
   width: 100%;
   height: 10vh;
   background-color: grey;
   position: fixed;
   top: 0;
   z-index: 10;
 }

 h2{
   position: absolute;
 }
